//GRID

$breakpoints_grid: (
	"xs": 0,
	"sm": 480px,
	"md": 720px,
	"lg": 960px,
	"xl": 1200px,
);


@mixin xs {
	@media (min-width: map-get($breakpoints_grid, "xs")){
		@content;
	}
}
@mixin sm {
	@media (min-width: map-get($breakpoints_grid, "sm")){
		@content;
	}
}
@mixin md {
	@media (min-width: map-get($breakpoints_grid, "md")){
		@content;
	}
}
@mixin lg {
	@media (min-width: map-get($breakpoints_grid, "lg")){
		@content;
	}
}
@mixin xl {
	@media (min-width: map-get($breakpoints_grid, "xl")){
		@content;
	}
}

//RESPONSIVE
$breakpoints: (
				phone: 640px,
				tablet: 768px,
				desktop: 1024px) !default;