.dot-white{
    @include media("<=tablet"){
        width: 120px;
        height: auto;
    }
    @include media("<=phone"){
        width: 80px;
    }
}
.dot-blue {
    @include media("<=tablet"){
        width: 120px;
        height: auto;
    }
    @include media("<=phone"){
        width: 80px;
    }
}
